* {
    /* border: 1px solid red; */
}

body {
    height: 93vh;
}

main {
    width: 100vw;
    height: 92vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#game-screen {
    display: flex;
    flex-direction: column;

}

#play-area {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 95vw;

}

.lane {
    width: 11.8vw;
    display: grid;
}

.advance {
    margin: 0;
}

#city {
    height: 7vh;
    width: 95vw;
    border: 1px solid green;
}

#UI {
    width: 95vw;
    height: 7vh;
    border: 1px solid red;
    text-align: center;
}

#command {
    border: 1px solid yellow;
}

.bomb {
    position: absolute;

}

.dead {
    display: none;
    
}