* {
    /* border: 1px solid red; */
    font-family: 'Supermercado One', cursive;
}

body {
    height: 93vh;
}

main {
    width: 100vw;
    height: 92vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(/backcity3.png);
    background-size: cover;
    background-position: center bottom;
}

#game-screen {
    display: flex;
    flex-direction: column;

}

#play-area {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 95vw;

}

#backcity {
    /* background-image: url(/backcity.png); */
    background-size: cover;
    text-align: center;
}

.lane {
    width: 11.8vw;
    display: grid;
}

.advance {
    margin: 0;
}

#city {
    height: 7vh;
    border: 1px solid green;
    font-size: 2em;
    text-align: center;
    background-position-y: 40px;;
}

#question {
    color: aquamarine;
    width: fit-content;
    background-color: rgba(0,0,0,.6);
}

#UI {
    width: 95vw;
    height: 7vh;
    border: 1px solid red;
    color: aquamarine;
    text-align: center;
    background-color: transparent;
}

#command {
    border: 1px solid yellow;
}

.bomb {
    background-color: lightgrey;
    border-radius: 10%;
    position: absolute;
    border: 2px solid white;

}

.dead {
    display: none;
    
}

.destroyed {
    display: none;
}